* {
    margin: 0;
    padding: 0;

}

header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

main {
    background: linear-gradient(to bottom, #131313, #562B81, #131313);
    width: 100%;
    padding: 5%;
    height: auto;
}

.storm {
    color: #FFE888;
    text-shadow: 0 0 10px #ffd500;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #ffd500;
    }

    to {
        text-shadow: 0 0 20px #ffa600, 0 0 30px #ff6a00, 0 0 40px #ff2400, 0 0 70px #ff2400, 0 0 80px #ff2400, 0 0 100.0px #ff2400, 0 0 150px #ff2400;
    }
}


.share {
    color: white;
}

.container-test {
    width: 100%;

    background-color: grey;
    padding: 60px;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

}

.gs {
    font-size: 100px;
    color: #ff6a00;
    margin-right: 40px;


}

.gs-div {
    width: 80px;
    height: 80px;
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 3px #562B81;
}

.img-yellow {
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}

.img-1 {
    background: url("../images/calendar-white.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}

.img-1:hover {
    background: url("../images/calendar-yellow.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}


.img-2 {
    background: url("../images/liste-white.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}

.img-2:hover {
    background: url("../images/liste-yellow.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}


.img-3 {
    background: url("../images/notes-white.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}

.img-3:hover {
    background: url("../images/notes-yellow.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}


.img-4 {
    background: url("../images/storm-white.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}

.img-4:hover {
    background: url("../images/storm-yellow.svg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 130px;
}



.card {
    margin: 30px;
    border-radius: 20px;
    height: 300px;
}

hr {
    height: 10px;
}