* {
    margin: 0;
    padding: 0;

}

main {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.glide {
    margin-top: 50px;
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3B393E;
}

.left-side {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.middle {
    text-align: center;
}

.right-side {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
}

button {
    margin-right: 10px;
}

/* styles pour personnaliser les boutons */
.glide__arrow {
    background: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.glide__arrow:hover {
    background: #444;
}

.glide__slides {
    height: 95%;

}


#stop {
    margin-top: 15%;
    background-color: red;
}

#play {

    background-color: #047B1E;
}

.button-playstop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    border: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.button-playstop:hover {
    transform: scale(1.2)
}

.img-footer-motiv {
    background-color: aqua;
    width: 100px;
    height: 1000px;
}